<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.swiftSecurity.mapper.mysql.SwiftUserMapper">
    <resultMap id="BaseUserResultMap" type="com.star.swiftSecurity.entity.SwiftUserDetails">
        <id property="userId" column="user_id" javaType="java.lang.Long"/>
        <result property="username" column="username"/>
        <result property="fullName" column="full_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="enabled" column="enabled"/>
        <result property="accountNonExpired" column="account_non_expired"/>
        <result property="accountNonLocked" column="account_non_locked"/>
        <result property="credentialsNonExpired" column="credentials_non_expired"/>
        <result property="failedLoginAttempts" column="failed_login_attempts"/>
        <result property="lockUntil" column="lock_until"/>
        <result property="passwordChangedAt" column="password_changed_at"/>
        <result property="lastLoginAt" column="last_login_at"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 优化的 ResultMap，使用 JOIN 避免嵌套 select -->
    <resultMap id="UserResultMap" type="com.star.swiftSecurity.entity.SwiftUserDetails">
        <id property="userId" column="user_id" javaType="java.lang.Long"/>
        <result property="username" column="username"/>
        <result property="fullName" column="full_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="enabled" column="enabled"/>
        <result property="accountNonExpired" column="account_non_expired"/>
        <result property="accountNonLocked" column="account_non_locked"/>
        <result property="credentialsNonExpired" column="credentials_non_expired"/>
        <result property="failedLoginAttempts" column="failed_login_attempts"/>
        <result property="lockUntil" column="lock_until"/>
        <result property="passwordChangedAt" column="password_changed_at"/>
        <result property="lastLoginAt" column="last_login_at"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="createdAt" column="created_at"/>
        <collection property="userRoles" ofType="com.star.swiftSecurity.entity.SwiftUserRole">
            <result property="assignedAt" column="assigned_at"/>
            <result property="assignedBy" column="assigned_by"/>
            <association property="userId" javaType="com.star.swiftSecurity.entity.SwiftUserRoleId">
                <result property="userId" column="user_id" javaType="java.lang.Long"/>
                <result property="roleId" column="role_id" javaType="java.lang.Long"/>
            </association>
            <association property="role" javaType="com.star.swiftSecurity.entity.SwiftRole">
                <id property="roleId" column="role_id" javaType="java.lang.Long"/>
                <result property="name" column="role_name"/>
                <result property="description" column="role_description"/>
                <collection property="roleAuthorities" ofType="com.star.swiftSecurity.entity.SwiftRoleAuthority">
                    <association property="id" javaType="com.star.swiftSecurity.entity.SwiftRoleAuthorityId">
                        <result property="roleId" column="role_id" javaType="java.lang.Long"/>
                        <result property="authorityId" column="authority_id" javaType="java.lang.Long"/>
                    </association>
                    <association property="authority" javaType="com.star.swiftSecurity.entity.SwiftAuthority">
                        <id property="authorityId" column="authority_id" javaType="java.lang.Long"/>
                        <result property="name" column="authority_name"/>
                        <result property="description" column="authority_description"/>
                    </association>
                </collection>
            </association>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT 
            u.user_id, u.username, u.full_name, u.password, u.email, u.phone, u.enabled,
            u.account_non_expired, u.account_non_locked, u.credentials_non_expired,
            u.failed_login_attempts, u.lock_until, u.password_changed_at, u.last_login_at, 
            u.last_login_ip, u.created_at,
            r.role_id, r.name as role_name, r.description as role_description,
            ur.assigned_at, ur.assigned_by,
            a.authority_id, a.name as authority_name, a.description as authority_description
        FROM swift_users u
        LEFT JOIN swift_user_roles ur ON u.user_id = ur.user_id
        LEFT JOIN swift_roles r ON ur.role_id = r.role_id
        LEFT JOIN swift_role_authorities ra ON r.role_id = ra.role_id
        LEFT JOIN swift_authorities a ON ra.authority_id = a.authority_id
        WHERE u.username = #{username}
    </select>

    <select id="findBaseByUsername" resultMap="BaseUserResultMap">
        SELECT * FROM swift_users WHERE username = #{username}
    </select>

    <select id="findBaseById" resultMap="BaseUserResultMap">
        SELECT * FROM swift_users WHERE user_id = #{userId}
    </select>

    <select id="findByIdWithAuthorities" resultMap="UserResultMap">
        SELECT 
            u.user_id, u.username, u.full_name, u.password, u.email, u.phone, u.enabled,
            u.account_non_expired, u.account_non_locked, u.credentials_non_expired,
            u.failed_login_attempts, u.lock_until, u.password_changed_at, u.last_login_at, 
            u.last_login_ip, u.created_at,
            r.role_id, r.name as role_name, r.description as role_description,
            ur.assigned_at, ur.assigned_by,
            a.authority_id, a.name as authority_name, a.description as authority_description
        FROM swift_users u
        LEFT JOIN swift_user_roles ur ON u.user_id = ur.user_id
        LEFT JOIN swift_roles r ON ur.role_id = r.role_id
        LEFT JOIN swift_role_authorities ra ON r.role_id = ra.role_id
        LEFT JOIN swift_authorities a ON ra.authority_id = a.authority_id
        WHERE u.user_id = #{userId}
    </select>

    <update id="update">
        UPDATE swift_users
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="fullName != null">full_name=#{fullName},</if>
            <if test="password != null">password=#{password},</if>
            <if test="email != null">email=#{email},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="enabled != null">enabled=#{enabled},</if>
            <if test="accountNonExpired != null">account_non_expired=#{accountNonExpired},</if>
            <if test="accountNonLocked != null">account_non_locked=#{accountNonLocked},</if>
            <if test="credentialsNonExpired != null">credentials_non_expired=#{credentialsNonExpired},</if>
            <if test="failedLoginAttempts != null">failed_login_attempts=#{failedLoginAttempts},</if>
            <if test="lockUntil != null">lock_until=#{lockUntil},</if>
            <if test="passwordChangedAt != null">password_changed_at=#{passwordChangedAt},</if>
            <if test="lastLoginAt != null">last_login_at=#{lastLoginAt},</if>
            <if test="lastLoginIp != null">last_login_ip=#{lastLoginIp},</if>
        </set>
        WHERE user_id=#{userId}
    </update>
</mapper>
