<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.swiftSecurity.mapper.mysql.SwiftAuthorityMapper">
    <resultMap id="AuthorityResultMap" type="com.star.swiftSecurity.entity.SwiftAuthority">
        <result property="authorityId" column="authority_id" javaType="java.lang.Long"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="findById" resultMap="AuthorityResultMap">
        SELECT * FROM swift_authorities WHERE authority_id = #{authorityId}
    </select>

    <select id="findByName" resultMap="AuthorityResultMap">
        SELECT * FROM swift_authorities WHERE name = #{name}
    </select>

    <select id="findByNameIn" resultMap="AuthorityResultMap">
        SELECT * FROM swift_authorities WHERE name IN
        <foreach collection="names" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <insert id="insert">
        INSERT INTO swift_authorities(authority_id, name, description) 
        VALUES(#{authorityId}, #{name}, #{description})
    </insert>

    <update id="update">
        UPDATE swift_authorities SET name=#{name}, description=#{description} 
        WHERE authority_id=#{authorityId}
    </update>

    <delete id="deleteById">
        DELETE FROM swift_authorities WHERE authority_id=#{authorityId}
    </delete>

    <select id="findAll" resultMap="AuthorityResultMap">
        SELECT * FROM swift_authorities
    </select>
</mapper>
